![Tests failed](https://img.shields.io/badge/tests-2%20passed%2C%201%20failed-critical)
## ❌ <a id="user-content-r0" href="#r0">fixtures/external/go/ginkgo-junit-report.xml</a>
**3** tests were completed in **10s** with **2** passed, **1** failed and **0** skipped.
|Test suite|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|[Suite1](#r0s0)|1✅|||2ms|
|[Suite2](#r0s1)|1✅|1❌||135ms|
### ✅ <a id="user-content-r0s0" href="#r0s0">Suite1</a>
```
Suite1
  ✅ [It] Should succeed
```
### ❌ <a id="user-content-r0s1" href="#r0s1">Suite2</a>
```
Suite2
  ✅ [It] Should succeed
  ❌ [It] Should succeed, but errors
	/package2/a_test.go:52
```