![Tests failed](https://img.shields.io/badge/tests-2%20passed%2C%202%20failed%2C%201%20skipped-critical)
## ❌ <a id="user-content-r0" href="#r0">fixtures/external/go/go-junit-report.xml</a>
**5** tests were completed in **NaNms** with **2** passed, **2** failed and **1** skipped.
|Test suite|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|[github.com/company/package1](#r0s0)||||0ms|
|[github.com/company/package2](#r0s1)|1✔️|||482ms|
|[github.com/company/package3](#r0s2)|1✔️|2❌|1✖️|835ms|
### ✔️ <a id="user-content-r0s1" href="#r0s1">github.com/company/package2</a>
```
github.com/company/package2
  ✔️ TestPackage2
```
### ❌ <a id="user-content-r0s2" href="#r0s2">github.com/company/package3</a>
```
github.com/company/package3
  ❌ TestPackage3-1
	Just error here
  ✔️ TestPackage3-2
  ✖️ TestPackage3-3
  ❌ TestPackage3-4
```