![Tests passed successfully](https://img.shields.io/badge/tests-none-yellow)
<details><summary>Expand for details</summary>
 
|Report|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|

## ✅ <a id="user-content-r0" href="#user-content-r0">fixtures/external/karma/karma-test-results.xml</a>
No tests found
</details>