![Tests passed successfully](https://img.shields.io/badge/tests-833%20passed%2C%206%20skipped-success)
## :white_check_mark: <a id="user-content-r0" href="#r0">fixtures/external/mocha/mocha-test-results.json</a>
**839** tests were completed in **6s** with **833** passed, **0** failed and **6** skipped.
|Test suite|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|test/node-unit/buffered-worker-pool.spec.js|14:white_check_mark:|||8ms|
|test/node-unit/cli/config.spec.js|10:white_check_mark:|||8ms|
|test/node-unit/cli/node-flags.spec.js|105:white_check_mark:|||9ms|
|test/node-unit/cli/options.spec.js|36:white_check_mark:|||250ms|
|test/node-unit/cli/run-helpers.spec.js|9:white_check_mark:|||8ms|
|test/node-unit/cli/run.spec.js|40:white_check_mark:|||4ms|
|test/node-unit/mocha.spec.js|24:white_check_mark:|||33ms|
|test/node-unit/parallel-buffered-runner.spec.js|19:white_check_mark:|||23ms|
|test/node-unit/reporters/parallel-buffered.spec.js|6:white_check_mark:|||16ms|
|test/node-unit/serializer.spec.js|40:white_check_mark:|||31ms|
|test/node-unit/stack-trace-filter.spec.js|2:white_check_mark:||4:no_entry_sign:|1ms|
|test/node-unit/utils.spec.js|5:white_check_mark:|||1ms|
|test/node-unit/worker.spec.js|15:white_check_mark:|||92ms|
|test/unit/context.spec.js|8:white_check_mark:|||5ms|
|test/unit/duration.spec.js|3:white_check_mark:|||166ms|
|test/unit/errors.spec.js|13:white_check_mark:|||5ms|
|test/unit/globals.spec.js|4:white_check_mark:|||0ms|
|test/unit/grep.spec.js|8:white_check_mark:|||2ms|
|test/unit/hook-async.spec.js|3:white_check_mark:|||1ms|
|test/unit/hook-sync-nested.spec.js|4:white_check_mark:|||1ms|
|test/unit/hook-sync.spec.js|3:white_check_mark:|||0ms|
|test/unit/hook-timeout.spec.js|1:white_check_mark:|||0ms|
|test/unit/hook.spec.js|4:white_check_mark:|||0ms|
|test/unit/mocha.spec.js|115:white_check_mark:||1:no_entry_sign:|128ms|
|test/unit/overspecified-async.spec.js|1:white_check_mark:|||3ms|
|test/unit/parse-query.spec.js|2:white_check_mark:|||1ms|
|test/unit/plugin-loader.spec.js|41:white_check_mark:||1:no_entry_sign:|16ms|
|test/unit/required-tokens.spec.js|1:white_check_mark:|||0ms|
|test/unit/root.spec.js|1:white_check_mark:|||0ms|
|test/unit/runnable.spec.js|55:white_check_mark:|||122ms|
|test/unit/runner.spec.js|77:white_check_mark:|||43ms|
|test/unit/suite.spec.js|57:white_check_mark:|||14ms|
|test/unit/test.spec.js|15:white_check_mark:|||0ms|
|test/unit/throw.spec.js|9:white_check_mark:|||9ms|
|test/unit/timeout.spec.js|8:white_check_mark:|||109ms|
|test/unit/utils.spec.js|75:white_check_mark:|||24ms|