[![Tests passed successfully](https://img.shields.io/badge/tests-4%20passed-success)](#user-content-test-report)
<details><summary>Expand for details</summary>
 
# <a name="user-content-test-report"></a> Tests report
|Report|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|[fixtures/nette-tester/BootstrapFormRenderer-report.xml](#user-content-r0)|4 ✅|||300ms|
## ✅ <a id="user-content-r0" href="#user-content-r0">fixtures/nette-tester/BootstrapFormRenderer-report.xml</a>
**4** tests were completed in **300ms** with **4** passed, **0** failed and **0** skipped.
|Test suite|Passed|Failed|Skipped|Time|
|:---|---:|---:|---:|---:|
|[BootstrapFormRenderer-report.xml](#user-content-r0s0)|4 ✅|||300ms|
### ✅ <a id="user-content-r0s0" href="#user-content-r0s0">BootstrapFormRenderer-report.xml</a>
```
KdybyTests/BootstrapFormRenderer
  ✅ BootstrapRendererTest.phpt::testRenderingBasics
  ✅ BootstrapRendererTest.phpt::testRenderingIndividual
  ✅ BootstrapRendererTest.phpt::testRenderingComponents
  ✅ BootstrapRendererTest.phpt::testMultipleFormsInTemplate
```
</details>